In [1]:
import csv
import glob
import sys
import math
from pyspark import SparkContext
from pyspark.sql import SQLContext
from pyspark.sql.types import *
from pyspark.sql.functions import *

In [2]:
from pyspark.ml.clustering import KMeans
#from pyspark.ml.evaluation import ClusteringEvaluator
import pyspark.ml.evaluation as ev

In [5]:
#ev.Evaluator.

In [6]:
sc=SparkContext()
spark=SQLContext(sc)

In [7]:
# def remove_dup(park2):
#     park2=park2.dropDuplicates()
#     return park2.count()

In [8]:
def printf(i,m,n):
    print(i,":",m,n)

In [9]:
#sc.stop()

# K-Means Clustering

In [10]:
def kcluster(dataset):
    kmeans = KMeans().setK(2).setSeed(1)
    model = kmeans.fit(dataset)
    predictions = model.transform(dataset)
    centers = model.clusterCenters()
    return centers

# Remove NULL Values

In [11]:
def remove_null(dataset):
    with_null=dataset.na.fill('Null')
    n=math.floor(len(park2.columns)/2)
    dataset=dataset.na.drop(how='any',thresh=n)
    #cluster=kcluster(dataset)
    return dataset.count()

# Remove DUPLICATE Values

In [12]:
def remove_dup(dataset):
    dataset=dataset.dropDuplicates()
    m=dataset.count()
    #l1,n=remove_null(dataset)
    return m

# Trim Space

In [13]:
def trim_space(dataset,column_list=None):
    column_name=dataset.columns
    for i in column_name:
        dataset=dataset.trim(i)
    return dataset
    #dataset=dataset.trim()
    #return dataset

# Parsing files one by one

In [16]:
path = 'uncom/*.tsv'
files = glob.glob(path)
#print(files)
i=1
for name in files:
    if(i>9):
        break
    print("File "+str(i),name.split("/")[1])
    park = spark.read.format("csv").options(header="true",inferschema="true",delimiter="\t").load(name)
    #park2=trim_space(park)
    #trim_columnname=input("Enter the column_name")
    #print(park2)
    #park.printSchema()
    #park.show()
    m=park.count()
    #centers=kcluster(park)
    n=remove_dup(park)
    #n=remove_null(park)
    #printf(i,m,n)
    #print(i,":",m,j,n)
    print("Before cleaning:",m)
    print("After cleaning:",n)
    print()
    i=i+1
#     for center in centers:
#         print(center)
    #print(math.floor(len(park.columns)/2))
    #break
    #lines = sc.textFile(sys.argv[1], 1)
    #lines.collect()
    #break

File 1 rmmq-46n5.tsv
Before cleaning: 39
After cleaning: 39

File 2 z4kf-gt4n.tsv
Before cleaning: 157
After cleaning: 157

File 3 5uac-w243.tsv
Before cleaning: 361740
After cleaning: 361740

File 4 3miu-myq2.tsv
Before cleaning: 435
After cleaning: 435

File 5 siju-6isf.tsv
Before cleaning: 3136
After cleaning: 3136

File 6 9akp-irxz.tsv
Before cleaning: 347
After cleaning: 343

File 7 smdw-73pj.tsv
Before cleaning: 2462
After cleaning: 2457

File 8 kku6-nxdu.tsv
Before cleaning: 236
After cleaning: 236

File 9 yu9n-iqyk.tsv
Before cleaning: 28465
After cleaning: 28465